@import "src/styles/colors";
@import "src/styles/typography";
@import "src/styles/components";


body {
  margin: 40px 100px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logo-text {
  @include hero-styled
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo-img {
  color: $primary;
  font-size: 34px;
}

.large-btn {
  @include primary-button;
  @include button-large;
  @include h3-styled;
}

.medium-btn {
  @include primary-button;
  @include button-medium;
  @include p-styled;
}

.search-icon {
  color: $primary;
  font-size: 20px;
  padding: 17px;
  position: absolute;
}

.search-box-container {
  @include h3-styled;
  height: 54px;
  padding: 0 25px 0 45px;
  width: 46em;
  border: none;
  border-radius: 18px;
  background-color: $fieldBackground;
  color: $inkSecondaryContrast;

  &:focus-visible {
    outline: none;
  }
}

.restaurant-name {
  @include h2-styled;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
  color: $ink;
  margin-left: 10px;
  margin-bottom: 10px;

}

.restaurant-subheader {
  @include p-styled-thin;
  color: $inkSecondary;
  margin-left: 10px;
}

.restaurant-image {
  border-radius: 20px;
}

.restaurant-card {
  width: 300px;
  margin-top: 50px;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-top: 5px;
}
.rating-score {
  @include h2-styled;
  color: $primary;
  margin-right: 10px;
}

.star {
  font-size: 14px;
  color: $primary;
}

.search-result {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.no-results {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-results-text{
  @include h1-styled-thin;
  color: $primary;
  margin-top: 3em;
}

.pagination-btn {
  margin-right: 2em;
}

.pagination {
  display: flex;
  margin-top: 4em;
  width: 100%;
  justify-content: flex-end;
}
.filter-container {
  width: 15em;
  height: 3em;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid $inkSecondary
}

.filter-text {
  @include p-styled;
  margin-left: 10px;
}

.filter-icon {
  font-size: 14px;
}

.filter-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filters-container {
  margin-top: 20px;
}

.facets {
  display: none;
  height: 670px;
  width: 850px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  background-color: white;
  position: absolute;

  &.open {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

.food-facet  {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 150px;
  padding: 5px 15px;
  align-items: center;
}

.food-facet-text {
  @include p-styled
}

.food-facet-name {
  width: 130px;
}
