@import "src/styles/colors";
@import "src/styles/typography";
@import "src/styles/components";


body {
  margin: 40px 100px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logo-text {
  @include hero-styled
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo-img {
  color: $primary;
  font-size: 34px;
}

.primary-btn {
  @include primary-button;
  @include button-large;
  @include h3-styled;
}

.search-icon {
  color: $primary;
  font-size: 20px;
  padding: 17px;
  position: absolute;
}

.search-box-container {
  @include h3-styled;
  height: 54px;
  padding: 0 25px 0 45px;
  width: 700px;
  border: none;
  border-radius: 18px;
  background-color: $fieldBackground;
  color: $inkSecondaryContrast;

  &:focus-visible {
    outline: none;
  }
}

.restaurant-name {
  @include h2-styled;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
  color: $ink;
  margin-left: 10px;
  margin-bottom: 10px;

}

.restaurant-subheader {
  @include p-styled-thin;
  color: $inkSecondary;
  margin-left: 10px;
}

.restaurant-image {
  border-radius: 20px;
}

.restaurant-card {
  width: 300px;
  margin-top: 50px;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-top: 5px;
}
.rating-score {
  @include h2-styled;
  color: $primary;
  margin-right: 10px;
}

.star {
  font-size: 14px;
  color: $primary;
}

.search-result {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
