@import "src/styles/colors";
@import "src/styles/typography";
@import "src/styles/components";

body {
  margin: 40px 100px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    margin: 30px 50px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    margin: 25px 30px;
  }

  @media screen and (max-width: $phone){
    margin: 20px 25px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    margin-bottom: 40px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    margin-bottom: 30px;
  }

  @media screen and (max-width: $phone){
    margin-bottom: 30px;
  }
}

.logo-text {
  @include hero-styled
}

.logo {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: $tablet) and (min-width: $phone){
    order: 1;
    width: 180px;
  }

  @media screen and (max-width: $phone){
    order: 1;
    width: 180px;
  }
}

.search-box {
  display: flex;
  @media screen and (max-width: $tablet) and (min-width: $phone){
    order: 2;
  }
  @media screen and (max-width: $phone){
    order: 2;
  }
}

.logo-img {
  color: $primary;
  font-size: 34px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    font-size: 26px;
    margin-top: 6px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    font-size: 24px;
    margin-top: 5px;
  }

  @media screen and (max-width: $phone){
    font-size: 24px;
    margin-top: 5px;
  }
}

.large-btn {
  @include primary-button;
  @include button-large;
  @include h3-styled;

  @media screen and (max-width: $tablet) and (min-width: $phone){
    display: flex;
    order: 1;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: $phone){
    display: flex;
    order: 1;
    align-items: center;
    justify-content: center;
    @include p-styled
  }
}

.medium-btn {
  @include primary-button;
  @include button-medium;
  @include p-styled;
  color: $ink;
}

.search-icon {
  color: $primary;
  font-size: 20px;
  padding: 17px;
  position: absolute;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    font-size: 16px;
    padding: 15px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    font-size: 15px;
    padding: 32px 15px;
  }

  @media screen and (max-width: $phone){
    font-size: 13px;
    padding: 34px 15px;
  }

}

.search-box-container {
  @include h3-styled;
  height: 54px;
  padding: 0 25px 0 45px;
  width: 46vw;
  border: none;
  border-radius: 18px;
  background-color: $fieldBackground;
  color: $inkSecondaryContrast;

  &:focus-visible {
    outline: none;
  }

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    height: 46px;
    border-radius: 15px;
    padding: 0 20px 0 40px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    height: 40px;
    border-radius: 13px;
    width: 80vw;
    margin-top: 20px;
    padding: 0 16px 0 38px;
  }

  @media screen and (max-width: $phone){
    height: 40px;
    border-radius: 13px;
    width: 74vw;
    margin-top: 20px;
    padding: 0 16px 0 34px;
    @include p-styled
  }

}

.restaurant-name {
  @include h2-styled;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
  color: $ink;
  margin-left: 10px;
  margin-bottom: 10px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    width: 95%;
    margin-bottom: 5px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    width: 95%;
    margin-bottom: 5px;
  }

  @media screen and (max-width: $phone){
    width: 95%;
    margin-bottom: 5px;
  }
}

.restaurant-subheader {
  @include p-styled-thin;
  color: $inkSecondary;
  margin-left: 10px;
}

.restaurant-image {
  border-radius: 20px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    width: 100%;
    margin-bottom: 5px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    width: 100%;
    margin-bottom: 5px;
  }

  @media screen and (max-width: $phone){
    width: 100%;
    margin-bottom: 5px;
  }
}

.restaurant-card {
  width: 300px;
  margin-bottom: 50px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    width: 30%;
    margin-bottom: 35px;
    margin-right: 10px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    width: 47%;
    margin-bottom: 30px;
  }

  @media screen and (max-width: $phone){
    width: 100%;
    margin-bottom: 30px;
  }
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-top: 5px;
}
.rating-score {
  @include h2-styled;
  color: $primary;
  margin-right: 10px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    margin-right: 5px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    margin-right: 5px;
  }

  @media screen and (max-width: $phone){
    margin-right: 5px;
  }
}

.star {
  font-size: 14px;
  color: $primary;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    font-size: 12px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    font-size: 12px;
  }

  @media screen and (max-width: $phone){
    font-size: 12px;
  }
}

.search-result {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  @media screen and (max-width: $phone){
    flex-direction: column;
  }
}

.no-results {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-results-text{
  @include h1-styled-thin;
  color: $primary;
  margin-top: 3em;
}

.pagination-btn {
  margin-right: 25px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    margin-right: 15px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    margin-right: 15px;
  }

  @media screen and (max-width: $phone){
    margin-right: 0;
  }
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  &.no-display {
    display: none;
  }

  @media screen and (max-width: $phone){
    justify-content: space-between;
  }
}

.previous-btn {
  opacity: 1;

  &.no-display {
    opacity: 0.4;
  }
}

.previous-btn {
  opacity: 1;

  &.no-display {
    opacity: 0.4;
  }
}

.food-type-filter-container {
  @include filter;
  width: 230px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    width: 180px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    width: 154px;
  }

  @media screen and (max-width: $phone){
    width: 93%;
  }
}

.rating-filter-container {
  @include filter;
  width: 150px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    width: 125px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    width: 100px;
  }

  @media screen and (max-width: $phone){
    width: 93%;
  }
}

.payment-filter-container {
  @include filter;
  width: 210px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    width: 160px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    width: 145px;
  }

  @media screen and (max-width: $phone){
    width: 93%;
  }
}

.filter-text {
  @include p-styled;
  margin-left: 5px;

  @media screen and (max-width: $phone){
    margin-left: 10px;
  }
}

.filter-icon {
  font-size: 14px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    font-size: 12px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    font-size: 10px;
  }

  @media screen and (max-width: $phone){
    font-size: 12px;
  }
}

.filter-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filters-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    margin-bottom: 30px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    margin-bottom: 10px;
    justify-content: flex-end;
  }

  @media screen and (max-width: $phone){
    margin-bottom: 10px;
    justify-content: flex-end;
    flex-direction: column;
  }
}

.food-filter {
  display: none;
  height: 560px;
  top: 192px;
  width: 640px;
  overflow: scroll;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  background-color: white;
  position: absolute;

  &.open {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    height: 500px;
    top: 162px;
    width: 560px;
    padding: 15px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    height: 400px;
    top: 197px;
    width: 350px;
    padding: 10px;
  }

  @media screen and (max-width: $phone){
    height: 400px;
    top: 197px;
    width: 350px;
    padding: 10px;
  }
}

.rating-filter {
  display: none;
  height: auto;
  width: 160px;
  top: 192px;
  left: 391px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  background-color: white;
  position: absolute;

  &.open {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    top: 162px;
    left: 272px;
    padding: 15px;
    width: 130px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    top: 197px;
    left: 219px;
    padding: 10px;
    width: 120px;
  }

  @media screen and (max-width: $phone){
    top: 197px;
    left: 219px;
    padding: 10px;
    width: 120px;
  }
}

.payment-filter {
  display: none;
  height: auto;
  width: 242px;
  top: 192px;
  left: 605px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  background-color: white;
  position: absolute;

  &.open {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    top: 162px;
    left: 448px;
    padding: 15px;
    width: 165px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    top: 197px;
    left: 356px;
    padding: 10px;
    width: 150px;
  }

  @media screen and (max-width: $phone){
    top: 197px;
    left: 356px;
    padding: 10px;
    width: 150px;
  }
}

.food-facet  {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 160px;
  padding: 5px 15px;
  align-items: center;
  color: $ink;
  cursor: pointer;
  margin-bottom: 5px;
  border: 1px solid $fieldBackground;
  border-radius: 15px;

  &:hover{
    background-color: $primaryDisabled;
    border: none;
    color: $primary
  }

  &.selected {
    background-color: $primaryDisabled;
    border: none;
    color: $primary
  }

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    width: 150px;
    padding: 6px 12px;
    margin-bottom: 8px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    width: 140px;
    padding: 6px 12px;
    margin-bottom: 6px;
    border-radius: 11px;
  }

  @media screen and (max-width: $phone){
    width: 140px;
    padding: 6px 12px;
    margin-bottom: 6px;
    border-radius: 11px;
  }
}

.food-facet-text {
  @include p-styled;
}

.food-facet-name {
  width: 130px;
}

.result-meta {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.result-time {
  @include p-styled-thin;
  margin-left: 5px;
}
.result-count {
  @include p-styled
}

.rating-filter-score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid $fieldBackground;
  color: $ink;
  cursor: pointer;

  &.selected {
    color: $primary;
    background-color: $primaryDisabled;
    border: none;
  }

  &:hover {
    color: $primary;
    background-color: $primaryDisabled;
    border: none;
  }

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    width: 60px;
    height: 44px;
    margin-bottom: 8px;
    border-radius: 12px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    width: 54px;
    height: 40px;
    margin-bottom: 6px;
    border-radius: 12px;
  }

  @media screen and (max-width: $phone){
    width: 54px;
    height: 40px;
    margin-bottom: 6px;
    border-radius: 12px;
  }
}

.payment-filter-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid $fieldBackground;
  color: $ink;
  cursor: pointer;

  &.selected {
    color: $primary;
    background-color: $primaryDisabled;
    border: none;
  }

  &:hover {
    color: $primary;
    background-color: $primaryDisabled;
    border: none;
  }

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    width: 162px;
    height: 44px;
    margin-bottom: 8px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    width: 148px;
    height: 40px;
    margin-bottom: 6px;
    border-radius: 13px;
  }

  @media screen and (max-width: $phone){
    width: 148px;
    height: 40px;
    margin-bottom: 6px;
    border-radius: 13px;
  }
}

.rating-filter-name {
  @include h3-styled
}

.payment-filter-name {
  @include p-styled
}

.rating-filter-star {
  font-size: 12px;
  margin-right: 5px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    font-size: 10px;
    margin-right: 4px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    font-size: 10px;
    margin-right: 4px;
  }

  @media screen and (max-width: $phone){
    font-size: 10px;
    margin-right: 4px;
  }

}

.payment-filter-icon {
  font-size: 14px;
  margin-right: 10px;
}

.clear-all-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: $inkSecondaryContrast;

  &.is-disabled {
    color: $inkSecondary;
    pointer-events: none
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    height: 36px;
    margin-right: 10px;
  }

  @media screen and (max-width: $phone){
    height: 36px;
    margin-right: 10px;
  }
}

.clear-button-text {
  @include p-styled;
}


