/*!****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./main.scss ***!
  \****************************************************************************************************/
body {
  margin: 40px 100px; }

.navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 50px; }

.logo-text {
  font-size: 38px;
  line-height: 50px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  color: #f8d16c; }

.logo {
  display: flex;
  flex-direction: row; }

.logo-img {
  color: #f8d16c;
  font-size: 34px; }

.large-btn {
  color: #182e47;
  background-color: #f8d16c;
  border: none;
  border-radius: 18px;
  height: 54px;
  width: 140px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif; }

.medium-btn {
  color: #182e47;
  background-color: #f8d16c;
  border: none;
  border-radius: 15px;
  height: 48px;
  width: 100px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif; }

.search-icon {
  color: #f8d16c;
  font-size: 20px;
  padding: 17px;
  position: absolute; }

.search-box-container {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  height: 54px;
  padding: 0 25px 0 45px;
  width: 46em;
  border: none;
  border-radius: 18px;
  background-color: #f7f9fa;
  color: #42576e; }
  .search-box-container:focus-visible {
    outline: none; }

.restaurant-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
  color: #182e47;
  margin-left: 10px;
  margin-bottom: 10px; }

.restaurant-subheader {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  color: #818a95;
  margin-left: 10px; }

.restaurant-image {
  border-radius: 20px; }

.restaurant-card {
  width: 300px;
  margin-bottom: 50px; }

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-top: 5px; }

.rating-score {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  color: #f8d16c;
  margin-right: 10px; }

.star {
  font-size: 14px;
  color: #f8d16c; }

.search-result {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap; }

.no-results {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.no-results-text {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #f8d16c;
  margin-top: 3em; }

.pagination-btn {
  margin-right: 2em; }

.pagination {
  display: flex;
  width: 100%;
  justify-content: flex-end; }

.food-type-filter-container {
  height: 3em;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #818a95;
  color: #182e47;
  margin-right: 20px;
  width: 15em; }
  .food-type-filter-container.selected {
    background-color: #fffcf0;
    border: none;
    color: #f8d16c; }

.rating-filter-container {
  height: 3em;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #818a95;
  color: #182e47;
  margin-right: 20px;
  width: 10em; }
  .rating-filter-container.selected {
    background-color: #fffcf0;
    border: none;
    color: #f8d16c; }

.payment-filter-container {
  height: 3em;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #818a95;
  color: #182e47;
  margin-right: 20px;
  width: 15em; }
  .payment-filter-container.selected {
    background-color: #fffcf0;
    border: none;
    color: #f8d16c; }

.filter-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  margin-left: 10px; }

.filter-icon {
  font-size: 14px; }

.filter-name {
  display: flex;
  flex-direction: row;
  align-items: center; }

.filters-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px; }

.food-filter {
  display: none;
  height: 670px;
  top: 194px;
  width: 850px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  background-color: white;
  position: absolute; }
  .food-filter.open {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }

.rating-filter {
  display: none;
  height: 200px;
  width: 160px;
  top: 194px;
  left: 391px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  background-color: white;
  position: absolute; }
  .rating-filter.open {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }

.food-facet {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 160px;
  padding: 5px 15px;
  align-items: center;
  color: #182e47; }
  .food-facet:hover {
    background-color: #fffcf0;
    border-radius: 15px;
    color: #f8d16c; }
  .food-facet.selected {
    background-color: #fffcf0;
    border-radius: 15px;
    color: #f8d16c; }

.food-facet-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif; }

.food-facet-name {
  width: 130px; }

.result-meta {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px; }

.result-time {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  margin-left: 5px; }

.result-count {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif; }

.rating-filter-score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid #f7f9fa;
  color: #182e47; }
  .rating-filter-score.selected {
    color: #f8d16c;
    background-color: #fffcf0;
    border: none; }
  .rating-filter-score:hover {
    color: #f8d16c;
    background-color: #fffcf0;
    border: none; }

.rating-filter-name {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif; }

.rating-filter-star {
  font-size: 12px;
  margin-right: 5px; }

