/*!****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./main.scss ***!
  \****************************************************************************************************/
body {
  margin: 40px 100px; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    body {
      margin: 30px 50px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    body {
      margin: 25px 30px; } }
  @media screen and (max-width: 400px) {
    body {
      margin: 20px 25px; } }

.navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .navigation {
      margin-bottom: 40px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .navigation {
      margin-bottom: 30px; } }
  @media screen and (max-width: 400px) {
    .navigation {
      margin-bottom: 30px; } }

.logo-text {
  font-size: 38px;
  line-height: 50px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  color: #f8d16c; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .logo-text {
      font-size: 30px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .logo-text {
      font-size: 26px;
      line-height: 44px; } }
  @media screen and (max-width: 400px) {
    .logo-text {
      font-size: 26px;
      line-height: 44px; } }

.logo {
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .logo {
      order: 1;
      width: 180px; } }
  @media screen and (max-width: 400px) {
    .logo {
      order: 1;
      width: 180px; } }

.search-box {
  display: flex; }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .search-box {
      order: 2; } }
  @media screen and (max-width: 400px) {
    .search-box {
      order: 2; } }

.logo-img {
  color: #f8d16c;
  font-size: 34px; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .logo-img {
      font-size: 26px;
      margin-top: 6px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .logo-img {
      font-size: 24px;
      margin-top: 5px; } }
  @media screen and (max-width: 400px) {
    .logo-img {
      font-size: 24px;
      margin-top: 5px; } }

.large-btn {
  color: #182e47;
  background-color: #f8d16c;
  border: none;
  border-radius: 18px;
  height: 54px;
  width: 140px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .large-btn {
      border-radius: 15px;
      height: 46px;
      width: 110px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .large-btn {
      border-radius: 13px;
      height: 40px;
      width: 100px; } }
  @media screen and (max-width: 400px) {
    .large-btn {
      border-radius: 13px;
      height: 40px;
      width: 100px; } }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .large-btn {
      font-size: 14px;
      line-height: 24px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .large-btn {
      font-size: 14px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) {
    .large-btn {
      font-size: 14px;
      line-height: 24px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .large-btn {
      display: flex;
      order: 1;
      align-items: center;
      justify-content: center; } }
  @media screen and (max-width: 400px) {
    .large-btn {
      display: flex;
      order: 1;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      font-family: 'Raleway', sans-serif; } }
  @media screen and (max-width: 400px) and (max-width: 1164px) and (min-width: 800px) {
    .large-btn {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) and (max-width: 800px) and (min-width: 400px) {
    .large-btn {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) and (max-width: 400px) {
    .large-btn {
      font-size: 12px;
      line-height: 24px; } }

.medium-btn {
  color: #182e47;
  background-color: #f8d16c;
  border: none;
  border-radius: 15px;
  height: 48px;
  width: 100px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  color: #182e47; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .medium-btn {
      border-radius: 15px;
      height: 42px;
      width: 94px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .medium-btn {
      border-radius: 13px;
      height: 38px;
      width: 86px; } }
  @media screen and (max-width: 400px) {
    .medium-btn {
      border-radius: 14px;
      height: 44px;
      width: 110px; } }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .medium-btn {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .medium-btn {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) {
    .medium-btn {
      font-size: 12px;
      line-height: 24px; } }

.search-icon {
  color: #f8d16c;
  font-size: 20px;
  padding: 17px;
  position: absolute; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .search-icon {
      font-size: 16px;
      padding: 15px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .search-icon {
      font-size: 15px;
      padding: 32px 15px; } }
  @media screen and (max-width: 400px) {
    .search-icon {
      font-size: 13px;
      padding: 34px 15px; } }

.search-box-container {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  height: 54px;
  padding: 0 25px 0 45px;
  width: 46vw;
  border: none;
  border-radius: 18px;
  background-color: #f7f9fa;
  color: #42576e; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .search-box-container {
      font-size: 14px;
      line-height: 24px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .search-box-container {
      font-size: 14px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) {
    .search-box-container {
      font-size: 14px;
      line-height: 24px; } }
  .search-box-container:focus-visible {
    outline: none; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .search-box-container {
      height: 46px;
      border-radius: 15px;
      padding: 0 20px 0 40px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .search-box-container {
      height: 40px;
      border-radius: 13px;
      width: 80vw;
      margin-top: 20px;
      padding: 0 16px 0 38px; } }
  @media screen and (max-width: 400px) {
    .search-box-container {
      height: 40px;
      border-radius: 13px;
      width: 74vw;
      margin-top: 20px;
      padding: 0 16px 0 34px;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      font-family: 'Raleway', sans-serif; } }
  @media screen and (max-width: 400px) and (max-width: 1164px) and (min-width: 800px) {
    .search-box-container {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) and (max-width: 800px) and (min-width: 400px) {
    .search-box-container {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) and (max-width: 400px) {
    .search-box-container {
      font-size: 12px;
      line-height: 24px; } }

.restaurant-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
  color: #182e47;
  margin-left: 10px;
  margin-bottom: 10px; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .restaurant-name {
      font-size: 16px;
      line-height: 24px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .restaurant-name {
      font-size: 16px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) {
    .restaurant-name {
      font-size: 16px;
      line-height: 24px; } }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .restaurant-name {
      width: 95%;
      margin-bottom: 5px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .restaurant-name {
      width: 95%;
      margin-bottom: 5px; } }
  @media screen and (max-width: 400px) {
    .restaurant-name {
      width: 95%;
      margin-bottom: 5px; } }

.restaurant-subheader {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  color: #818a95;
  margin-left: 10px; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .restaurant-subheader {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .restaurant-subheader {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) {
    .restaurant-subheader {
      font-size: 12px;
      line-height: 24px; } }

.restaurant-image {
  border-radius: 20px; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .restaurant-image {
      width: 100%;
      margin-bottom: 5px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .restaurant-image {
      width: 100%;
      margin-bottom: 5px; } }
  @media screen and (max-width: 400px) {
    .restaurant-image {
      width: 100%;
      margin-bottom: 5px; } }

.restaurant-card {
  width: 300px;
  margin-bottom: 50px; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .restaurant-card {
      width: 30%;
      margin-bottom: 35px;
      margin-right: 10px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .restaurant-card {
      width: 47%;
      margin-bottom: 30px; } }
  @media screen and (max-width: 400px) {
    .restaurant-card {
      width: 100%;
      margin-bottom: 30px; } }

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-top: 5px; }

.rating-score {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  color: #f8d16c;
  margin-right: 10px; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .rating-score {
      font-size: 16px;
      line-height: 24px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .rating-score {
      font-size: 16px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) {
    .rating-score {
      font-size: 16px;
      line-height: 24px; } }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .rating-score {
      margin-right: 5px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .rating-score {
      margin-right: 5px; } }
  @media screen and (max-width: 400px) {
    .rating-score {
      margin-right: 5px; } }

.star {
  font-size: 14px;
  color: #f8d16c; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .star {
      font-size: 12px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .star {
      font-size: 12px; } }
  @media screen and (max-width: 400px) {
    .star {
      font-size: 12px; } }

.search-result {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap; }
  @media screen and (max-width: 400px) {
    .search-result {
      flex-direction: column; } }

.no-results {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.no-results-text {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #f8d16c;
  margin-top: 3em; }

.pagination-btn {
  margin-right: 25px; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .pagination-btn {
      margin-right: 15px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .pagination-btn {
      margin-right: 15px; } }
  @media screen and (max-width: 400px) {
    .pagination-btn {
      margin-right: 0; } }

.pagination {
  display: flex;
  width: 100%;
  justify-content: flex-end; }
  .pagination.no-display {
    display: none; }
  @media screen and (max-width: 400px) {
    .pagination {
      justify-content: space-between; } }

.previous-btn {
  opacity: 1; }
  .previous-btn.no-display {
    opacity: 0.4; }

.previous-btn {
  opacity: 1; }
  .previous-btn.no-display {
    opacity: 0.4; }

.food-type-filter-container {
  height: 46px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #818a95;
  color: #182e47;
  margin-right: 20px;
  cursor: pointer;
  width: 230px; }
  .food-type-filter-container.selected {
    background-color: #fffcf0;
    border: none;
    color: #f8d16c; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .food-type-filter-container {
      height: 40px;
      border-radius: 14px;
      padding: 0 15px;
      margin-right: 15px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .food-type-filter-container {
      height: 36px;
      border-radius: 13px;
      padding: 0 12px;
      margin-right: 10px; } }
  @media screen and (max-width: 400px) {
    .food-type-filter-container {
      height: 38px;
      border-radius: 13px;
      padding: 0 12px;
      margin-bottom: 10px; } }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .food-type-filter-container {
      width: 180px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .food-type-filter-container {
      width: 154px; } }
  @media screen and (max-width: 400px) {
    .food-type-filter-container {
      width: 93%; } }

.rating-filter-container {
  height: 46px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #818a95;
  color: #182e47;
  margin-right: 20px;
  cursor: pointer;
  width: 150px; }
  .rating-filter-container.selected {
    background-color: #fffcf0;
    border: none;
    color: #f8d16c; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .rating-filter-container {
      height: 40px;
      border-radius: 14px;
      padding: 0 15px;
      margin-right: 15px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .rating-filter-container {
      height: 36px;
      border-radius: 13px;
      padding: 0 12px;
      margin-right: 10px; } }
  @media screen and (max-width: 400px) {
    .rating-filter-container {
      height: 38px;
      border-radius: 13px;
      padding: 0 12px;
      margin-bottom: 10px; } }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .rating-filter-container {
      width: 125px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .rating-filter-container {
      width: 100px; } }
  @media screen and (max-width: 400px) {
    .rating-filter-container {
      width: 93%; } }

.payment-filter-container {
  height: 46px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #818a95;
  color: #182e47;
  margin-right: 20px;
  cursor: pointer;
  width: 210px; }
  .payment-filter-container.selected {
    background-color: #fffcf0;
    border: none;
    color: #f8d16c; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .payment-filter-container {
      height: 40px;
      border-radius: 14px;
      padding: 0 15px;
      margin-right: 15px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .payment-filter-container {
      height: 36px;
      border-radius: 13px;
      padding: 0 12px;
      margin-right: 10px; } }
  @media screen and (max-width: 400px) {
    .payment-filter-container {
      height: 38px;
      border-radius: 13px;
      padding: 0 12px;
      margin-bottom: 10px; } }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .payment-filter-container {
      width: 160px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .payment-filter-container {
      width: 145px; } }
  @media screen and (max-width: 400px) {
    .payment-filter-container {
      width: 93%; } }

.filter-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  margin-left: 5px; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .filter-text {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .filter-text {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) {
    .filter-text {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) {
    .filter-text {
      margin-left: 10px; } }

.filter-icon {
  font-size: 14px; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .filter-icon {
      font-size: 12px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .filter-icon {
      font-size: 10px; } }
  @media screen and (max-width: 400px) {
    .filter-icon {
      font-size: 12px; } }

.filter-name {
  display: flex;
  flex-direction: row;
  align-items: center; }

.filters-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .filters-container {
      margin-bottom: 30px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .filters-container {
      margin-bottom: 10px;
      justify-content: flex-end; } }
  @media screen and (max-width: 400px) {
    .filters-container {
      margin-bottom: 10px;
      justify-content: flex-end;
      flex-direction: column; } }

.food-filter {
  display: none;
  height: 560px;
  top: 192px;
  width: 640px;
  overflow: scroll;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  background-color: white;
  position: absolute; }
  .food-filter.open {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .food-filter {
      height: 500px;
      top: 162px;
      width: 560px;
      padding: 15px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .food-filter {
      height: 400px;
      top: 197px;
      width: 350px;
      padding: 10px; } }
  @media screen and (max-width: 400px) {
    .food-filter {
      height: 400px;
      top: 197px;
      width: 350px;
      padding: 10px; } }

.rating-filter {
  display: none;
  height: auto;
  width: 160px;
  top: 192px;
  left: 391px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  background-color: white;
  position: absolute; }
  .rating-filter.open {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .rating-filter {
      top: 162px;
      left: 272px;
      padding: 15px;
      width: 130px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .rating-filter {
      top: 197px;
      left: 219px;
      padding: 10px;
      width: 120px; } }
  @media screen and (max-width: 400px) {
    .rating-filter {
      top: 197px;
      left: 219px;
      padding: 10px;
      width: 120px; } }

.payment-filter {
  display: none;
  height: auto;
  width: 242px;
  top: 192px;
  left: 605px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  background-color: white;
  position: absolute; }
  .payment-filter.open {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .payment-filter {
      top: 162px;
      left: 448px;
      padding: 15px;
      width: 165px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .payment-filter {
      top: 197px;
      left: 356px;
      padding: 10px;
      width: 150px; } }
  @media screen and (max-width: 400px) {
    .payment-filter {
      top: 197px;
      left: 356px;
      padding: 10px;
      width: 150px; } }

.food-facet {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 160px;
  padding: 5px 15px;
  align-items: center;
  color: #182e47;
  cursor: pointer;
  margin-bottom: 5px;
  border: 1px solid #f7f9fa;
  border-radius: 15px; }
  .food-facet:hover {
    background-color: #fffcf0;
    border: none;
    color: #f8d16c; }
  .food-facet.selected {
    background-color: #fffcf0;
    border: none;
    color: #f8d16c; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .food-facet {
      width: 150px;
      padding: 6px 12px;
      margin-bottom: 8px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .food-facet {
      width: 140px;
      padding: 6px 12px;
      margin-bottom: 6px;
      border-radius: 11px; } }
  @media screen and (max-width: 400px) {
    .food-facet {
      width: 140px;
      padding: 6px 12px;
      margin-bottom: 6px;
      border-radius: 11px; } }

.food-facet-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .food-facet-text {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .food-facet-text {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) {
    .food-facet-text {
      font-size: 12px;
      line-height: 24px; } }

.food-facet-name {
  width: 130px; }

.result-meta {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px; }

.result-time {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  margin-left: 5px; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .result-time {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .result-time {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) {
    .result-time {
      font-size: 12px;
      line-height: 24px; } }

.result-count {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .result-count {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .result-count {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) {
    .result-count {
      font-size: 12px;
      line-height: 24px; } }

.rating-filter-score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid #f7f9fa;
  color: #182e47;
  cursor: pointer; }
  .rating-filter-score.selected {
    color: #f8d16c;
    background-color: #fffcf0;
    border: none; }
  .rating-filter-score:hover {
    color: #f8d16c;
    background-color: #fffcf0;
    border: none; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .rating-filter-score {
      width: 60px;
      height: 44px;
      margin-bottom: 8px;
      border-radius: 12px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .rating-filter-score {
      width: 54px;
      height: 40px;
      margin-bottom: 6px;
      border-radius: 12px; } }
  @media screen and (max-width: 400px) {
    .rating-filter-score {
      width: 54px;
      height: 40px;
      margin-bottom: 6px;
      border-radius: 12px; } }

.payment-filter-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid #f7f9fa;
  color: #182e47;
  cursor: pointer; }
  .payment-filter-item.selected {
    color: #f8d16c;
    background-color: #fffcf0;
    border: none; }
  .payment-filter-item:hover {
    color: #f8d16c;
    background-color: #fffcf0;
    border: none; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .payment-filter-item {
      width: 162px;
      height: 44px;
      margin-bottom: 8px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .payment-filter-item {
      width: 148px;
      height: 40px;
      margin-bottom: 6px;
      border-radius: 13px; } }
  @media screen and (max-width: 400px) {
    .payment-filter-item {
      width: 148px;
      height: 40px;
      margin-bottom: 6px;
      border-radius: 13px; } }

.rating-filter-name {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .rating-filter-name {
      font-size: 14px;
      line-height: 24px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .rating-filter-name {
      font-size: 14px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) {
    .rating-filter-name {
      font-size: 14px;
      line-height: 24px; } }

.payment-filter-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .payment-filter-name {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .payment-filter-name {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) {
    .payment-filter-name {
      font-size: 12px;
      line-height: 24px; } }

.rating-filter-star {
  font-size: 12px;
  margin-right: 5px; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .rating-filter-star {
      font-size: 10px;
      margin-right: 4px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .rating-filter-star {
      font-size: 10px;
      margin-right: 4px; } }
  @media screen and (max-width: 400px) {
    .rating-filter-star {
      font-size: 10px;
      margin-right: 4px; } }

.payment-filter-icon {
  font-size: 14px;
  margin-right: 10px; }

.clear-all-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #42576e; }
  .clear-all-button.is-disabled {
    color: #818a95;
    pointer-events: none; }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .clear-all-button {
      height: 36px;
      margin-right: 10px; } }
  @media screen and (max-width: 400px) {
    .clear-all-button {
      height: 36px;
      margin-right: 10px; } }

.clear-button-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif; }
  @media screen and (max-width: 1164px) and (min-width: 800px) {
    .clear-button-text {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 800px) and (min-width: 400px) {
    .clear-button-text {
      font-size: 12px;
      line-height: 24px; } }
  @media screen and (max-width: 400px) {
    .clear-button-text {
      font-size: 12px;
      line-height: 24px; } }

