@import "colors";

@mixin primary-button {
  color: $ink;
  background-color: $primary;
  border: none;
}

@mixin button-large {
  border-radius: 18px;
  height: 54px;
  width: 140px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    border-radius: 15px;
    height: 46px;
    width: 110px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    border-radius: 13px;
    height: 40px;
    width: 100px;
  }

}

@mixin button-medium {
  border-radius: 15px;
  height: 48px;
  width: 100px;

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    border-radius: 15px;
    height: 42px;
    width: 94px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    border-radius: 13px;
    height: 38px;
    width: 86px;
  }
}

@mixin filter {
  height: 46px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid $inkSecondary;
  color: $ink;
  margin-right: 20px;
  cursor: pointer;

  &.selected {
    background-color: $primaryDisabled;
    border: none;
    color: $primary;
  }

  @media screen and (max-width: $minidesktop) and (min-width: $tablet){
    height: 40px;
    border-radius: 14px;
    padding: 0 15px;
    margin-right: 15px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone){
    height: 36px;
    border-radius: 13px;
    padding: 0 12px;
    margin-right: 10px;
  }
}
